$primary-color: #2b2e33;
$secondary-color: #419a1c;
$show-home-image: true;
$home-image: url(../img/main_background_1.jpg);
$background-opacity: 0.7;

@mixin easeOut {
  transition: ease-out 0.5s all;
}

@mixin background {
  @if $show-home-image {
    &#bg-img-home {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        min-height: 100%;
        z-index: -1;
        background: rgba($primary-color, $background-opacity);
      }
    }
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        min-height: 100%;
        z-index: -1;
        background: rgba($primary-color, 0.5);
      }
    }
  }
}

// Media query mixins
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXL {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
