@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

//headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;

    &.slide-down {
      margin-top: 10vh;
    }
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    // background: rgba(lighten($color: $primary-color, $amount: 2), 0.5);

    &.slide-down {
      margin-top: 16vh;
    }
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
  &:hover {
    color: $primary-color;
  }
}

main {
  padding: 4rem;
  // height: 100%;
  min-height: calc(100vh-60px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }

    // &.slide-down {
    //   margin-top: 25vh;
    // }
  }

  &#home {
    overflow: hidden;

    h1 {
      margin-top: 20vh;
      color: rgb(114, 114, 114);
      &:hover {
        color: $secondary-color;
      }
    }
  }
  &#about {
    overflow: hidden;
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: "bioimage bio bio" "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: 3px solid $secondary-color;
  }
  .bio {
    grid-area: bio;
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }

  .job {
    background: lighten($color: $primary-color, $amount: 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
    border-radius: 10%;
  }
}

//Projects page
.projects-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.7rem; //or 20px

  img {
    width: 100%;
    border: 3px #fff solid;
    border-radius: 5%;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

// Contact Page
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
  text-align: center;

  div {
    font-size: 1.5rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: #000;

      span {
        color: #000;
      }
    }
  }
}

// Button styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: darken($primary-color, 10);
  text-align: center;
  border-radius: 20%;
  &:hover {
    background: $secondary-color;
    color: #fff;
  }
}

.btn-light {
  @extend .btn;
  background: lighten($color: $primary-color, $amount: 40);
  color: #333;
}

.btn-dark {
  @extend .btn;
  background: darken($color: $primary-color, $amount: 40);
}

#main-footer {
  text-align: center;
  background: darken($color: $primary-color, $amount: 5);
  padding: 1rem;
  color: #fff;
  height: 60px;
}

@import "mobile";
